/* * The animation code */
@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 18px 3px rgba(163, 151, 151, 0.18);
  -webkit-box-shadow: 0px 8px 18px 3px rgba(163, 151, 151, 0.18);
  -moz-box-shadow: 0px 8px 18px 3px rgba(163, 151, 151, 0.18);
}
.list {
  display: flex;
  list-style: none;
}
.list > li {
  margin-right: 80px;
  padding: 40px;
  font-size: x-large;
  font-weight: 500;
  font-style: inherit;
  font-family: fantasy;
}
.reactlogo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  opacity: 0.8;
}
h1 {
  box-shadow: -1px -1px 1px 1px rgba(35, 224, 224, 0.28);
  -webkit-box-shadow: -1px -2px 21px 8px rgba(64, 236, 236, 0.28);
  -moz-box-shadow: -1px -2px 21px 8px rgba(35, 224, 224, 0.28);
  font-weight: bold;
  font-stretch: extra-expanded;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(69, 16, 71);
}
.orderedli {
  box-shadow: -1px -2px 150px -1px rgba(35, 224, 224, 0.28);
  -webkit-box-shadow: -1px -2px 150px -1px rgba(126, 35, 224, 0.28);
  -moz-box-shadow: -1px -2px 150px -1px rgba(35, 224, 224, 0.28);
  font-size: x-large;
  text-indent: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(203, 117, 203);
}

.foot {
  margin-top: 24em;
  box-shadow: 0px -2px 37px -7px rgba(211, 202, 202, 0.19) inset;
  -webkit-box-shadow: 0px -2px 37px -7px rgb(61, 55, 55) inset;
  -moz-box-shadow: -12x -50px 37px -50px rgba(212, 205, 212, 0.19) inset;
}
